.product-nav{
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 10px;
    width: 50px;
    border-radius: 12px;
    background-color: transparent;
}
.product-nav-wrapper{
     height: 50px;
     width: 50px;
     border-radius: 12px;
     border: 2px solid red;
     background-color: transparent;

}
.product-nav-wrapper>a>img{
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    margin-left: -50px;
}

.product-main{

     /* border: 1px solid black; */
     height: 100vh;
     width: 90%;
     margin: auto;
     margin-top: 10px;
     display: flex;


}
.left-product-div{

    /* border: 2px solid red; */
    /* height:100vh; */
    /* width: 300px; */

}

.right-product-div{

    /* border: 2px solid blue; */
    width: 100vw;
    height: auto;

}

.company-name{
    /* border: 1px solid black; */

}
.company-banner{
    width: 100%;
    /* border: 1px solid red; */
    height: 100px;
    
}
.company-banner img{
    width: 100%;
    height: 100%;
}

.image-div{
    max-width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 30px;

}
.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.details-about-company{
    width: 80%;
    margin: auto;
    border: 0.5px solid black;
    border-radius: 12px;
    padding: 20px;  
    margin-top: 20px;
}
.details-about-company p,a{
    margin-left: 50px;
    margin-top: 10px;
}